<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <app-list-sub-header></app-list-sub-header>
            <div class="col-12">
                <div>
                    <div class="row">
                        <div class="w-100 row pl-4">
                            <div class="col-12 col-md-4 col-lg-4">
                                <app-appsearch [model]="searchModel" class="col-12" (callBack)="onSearch($event)">
                                </app-appsearch>
                            </div>
                            <div class="col-12 col-md-8 col-sm-8 mt-4">
                                <form [formGroup]="FilterForm">
                                    <div class="row">
                                        <div class="col-12 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <ng-select [items]="itemSPRStatusList" class="form-control"
                                                    bindLabel="description" bindValue="code"
                                                    formControlName="itemSPRStatus"
                                                    (change)="onFilterStatusChange($event)">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover table-responsive table-sorting" id="table-additionalcharges">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Action</th>
                            <th></th>
                            <th style="display: none;"></th>
                            <th (click)="headerClick($event)" name="offerid" id="OI.offerid">Offer Id</th>
                            <th (click)="headerClick($event)" name="articalno" id="OI.articleno">Artical No.</th>
                            <th (click)="headerClick($event)" name="description" id="OI.description">Description</th>
                            <th (click)="headerClick($event)" name="validfrom" id="OI.validfrom">Valid
                                From</th>
                            <th (click)="headerClick($event)" name="validto" id="OI.validto">Valid To
                            </th>
                            <th (click)="headerClick($event)" name="status" id="OI.status">Status</th>
                            <th (click)="headerClick($event)" name="actionrequired" id="OI.actionrequired">Action
                                Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="fmactionlist.length == 0">
                            <td colspan="8" style="text-align: center;">
                                No Records Found
                            </td>
                        </tr>
                        <tr *ngFor="let pe of fmactionlist">
                            <td>
                                <button class="btn btn-link p-0 mr-3" *ngIf="pe.status == 30 || pe.IsActive == 0"
                                    (click)="viewClicked(pe.id)"><img class="table-icon"
                                        src="../../../../../assets/images/icon-view.svg"></button>
                                <button class="btn btn-link p-0 mr-3" *ngIf="pe.status <= 20 && pe.IsActive == 1"
                                    (click)="editClicked(pe.id)"><img class="table-icon"
                                        src="../../../../../assets/images/icon-edit.svg"></button>
                            </td>
                            <td><span class="dot green" *ngIf="pe.IsActive == 1"></span><span class="dot red"
                                    *ngIf="pe.IsActive == 0"></span></td>
                            <td style="display: none;">{{pe.id}}</td>
                            <td>{{pe.offerid}}</td>
                            <td>{{pe.articleno}}</td>
                            <td>{{pe.description}}</td>
                            <td>{{pe.validfrom | date:dateformate}}</td>
                            <td>{{pe.validto | date:dateformate}}</td>
                            <td>{{pe.showstatus}}</td>
                            <td>{{pe.actionrequired}}</td>

                        </tr>
                    </tbody>
                </table>

                <label class="list-totalrecords">Total Records: {{totalRows}}</label>
                <ul *ngIf="pager.pages && pager.pages.length && totalRows > pageSize" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a *ngIf="pager.currentPage === 1; else elseFirst"> First</a>
                        <ng-template #elseFirst>
                            <a (click)="setPage(1)">First</a>
                        </ng-template>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a *ngIf="pager.currentPage === 1; else elsePrevious"> Previous</a>
                        <ng-template #elsePrevious>
                            <a (click)="setPage(pager.currentPage - 1)"> Previous</a>
                        </ng-template>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a *ngIf="pager.currentPage === pager.totalPages; else elseNext">Next</a>
                        <ng-template #elseNext>
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </ng-template>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a *ngIf="pager.currentPage === pager.totalPages; else elseLast">Last</a>
                        <ng-template #elseLast>
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>