<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <app-list-sub-header [isSAPRefresh]=true (saprefreshClicked)="onSAPRefreshClick()" [isSFDCRefresh]=true
                (sfdcrefreshClicked)="onRefreshClick()"></app-list-sub-header>
            <div class="col-12">
                
                    <div class="row">
                        <app-appsearch [model]="searchModel" class="col-12 col-xl-8 col-lg-8 col-md-6 col-sm-12"
                            (callBack)="onSearch($event)"></app-appsearch>
                    </div>
               
                <table class="table table-hover table-responsive table-sorting">
                    <thead class="thead-inverse" id="table-additionalcharges">
                        <tr>
                            <th>Action</th>
                            <th (click)="headerClick($event)" id="sfdcid">SFDC ID</th>
                            <th (click)="headerClick($event)" id="sapid">SAP ID</th>
                            <th (click)="headerClick($event)" id="customername">Full Name</th>
                            <th (click)="headerClick($event)" id="">Type</th>
                            <th (click)="headerClick($event)" id="gstno"> GST No</th>
                            <th (click)="headerClick($event)" id="mobileno">Mobile No</th>
                            <th (click)="headerClick($event)" id="status">Status</th>
                            <th style="display:none;">id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="customerlist.length === 0">
                            <td colspan="8" style="text-align: center;">
                                No Records Found
                            </td>
                        </tr>
                        <tr *ngFor="let cst of customerlist" (dblclick)="onRowDoubleClick(cst.id)">
                            <td><button (click)="getCustomer(cst.id)" class="btn btn-link p-0 mr-3"><img
                                        class="table-icon" src="../../../../../assets/images/icon-view.svg"></button>
                            </td>
                            <td>{{cst.sfdcid}}</td>
                            <td>{{cst.sapid}}</td>
                            <td>{{cst.customername}}</td>
                            <td>{{cst.type}}</td>
                            <td>{{cst.gstno}}</td>
                            <td>{{cst.mobileno}}</td>
                            <td>{{cst.status}}</td>
                            <td style="display:none;">{{cst.id}}</td>
                        </tr>
                    </tbody>
                </table>
                <label class="list-totalrecords">Total Records: {{totalRows}}</label>
                <ul *ngIf="pager.pages && pager.pages.length && totalRows > pageSize" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a *ngIf="pager.currentPage === 1; else elseFirst"> First</a>
                        <ng-template #elseFirst>
                            <a (click)="setPage(1)">First</a>
                        </ng-template>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a *ngIf="pager.currentPage === 1; else elsePrevious"> Previous</a>
                        <ng-template #elsePrevious>
                            <a (click)="setPage(pager.currentPage - 1)"> Previous</a>
                        </ng-template>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a *ngIf="pager.currentPage === pager.totalPages; else elseNext">Next</a>
                        <ng-template #elseNext>
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </ng-template>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a *ngIf="pager.currentPage === pager.totalPages; else elseLast">Last</a>
                        <ng-template #elseLast>
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>