<app-app-header></app-app-header>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <app-list-sub-header [isExport]=true (exportClicked)="onExport()" [isUpload]="viewOnly"
                (uploadClicked)="open(content)"></app-list-sub-header>

            <div class="col-12">


                <table class="table table-hover table-responsive table-sorting" id="table-productmaster">
                    <thead class="thead-inverse">
                        <tr>
                            <th style="display:none;">ID</th>
                            <th name="Imported On" id="imported_on" (click)="headerClick($event)">Imported On</th>
                            <th name="Imported By" id="imported_by" (click)="headerClick($event)">Imported By</th>
                            <th name="Type" id="type" (click)="headerClick($event)">Type</th>
                            <th name="Imported File" id="imported_file_name" (click)="headerClick($event)">Imported
                                Source
                            </th>
                            <th name="Status File" id="status_file_name" (click)="headerClick($event)">Status File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="historyList.length === 0">
                            <td colspan="4" style="text-align: center;">
                                No Records Found
                            </td>
                        </tr>
                        <tr *ngFor="let ci of historyList">
                            <td style="display:none;">{{ci.id}}</td>
                            <td>{{ci.imported_on}}</td>
                            <td> {{ci.importedbyname}}</td>
                            <td>{{ci.type === 'costmasterstd_moq' ? 'MFG' : (ci.type === 'costmastertrd_moq' ? 'TRD' :
                                '')}}</td>
                            <td *ngIf="ci.imported_file_name == 'EntryForm'">
                                {{ci.imported_file_name}}
                            </td>
                            <td *ngIf="ci.imported_file_name != 'EntryForm'">
                                <button class="btn btn-link p-0"
                                    (click)="downloadFile(ci.imported_file_name,false,ci.type)">
                                    File: {{ci.imported_file_name}}</button>
                            </td>
                            <td><button class="btn btn-link p-0"
                                    (click)="downloadFile(ci.status_file_name,true,ci.type)">{{ci.status_file_name}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <label class="list-totalrecords">Total Records: {{totalRows}}</label>
                <ul *ngIf="pager.pages && pager.pages.length && totalRows > pageSize" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a *ngIf="pager.currentPage === 1; else elseFirst"> First</a>
                        <ng-template #elseFirst>
                            <a (click)="setPage(1)">First</a>
                        </ng-template>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a *ngIf="pager.currentPage === 1; else elsePrevious"> Previous</a>
                        <ng-template #elsePrevious>
                            <a (click)="setPage(pager.currentPage - 1)"> Previous</a>
                        </ng-template>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a *ngIf="pager.currentPage === pager.totalPages; else elseNext">Next</a>
                        <ng-template #elseNext>
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </ng-template>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a *ngIf="pager.currentPage === pager.totalPages; else elseLast">Last</a>
                        <ng-template #elseLast>
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </ng-template>
                    </li>
                </ul>



            </div>
        </div>
    </div>
</div>

<!-- Import -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Import</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="!isShowDownload">

            <form [formGroup]="importmodel" enctype="multipart/form-data" method="POST">

                <div class="form-group">
                    <label class="mr-2">
                        <input type="radio" formControlName="importoption" (click)="onExportOptionChange($event)"
                            value="0" class="mr-1" [checked]='exportMFG'>
                        1.MFG
                    </label>
                    <div *ngIf="isInvalid('importoption')" class="text-danger">Option is required.</div>
                </div>

                <div class="form-group">
                    <label>
                        <input type="radio" formControlName="importoption" (click)="onExportOptionChange($event)"
                            value="1" class="mr-1" [checked]='exportTRD'>
                        2.TRD
                    </label>
                </div>

                <div class="form-group" (ngSubmit)="uploadFile($event)">
                    <input type="file" id="importFile" formControlName="importFile" (change)="uploadedFile($event)"
                        #fileInput accept=".xlsx, .xls" />
                    <div *ngIf="isInvalid('importFile')" class="text-danger">File is required.</div>
                </div>

            </form>


            <p class="pl-2 pt-2">Click <button type="link" class="btn-link button-link px-1"
                    (click)="downloadSample()">here</button> to download sample file.</p>
        </div>

        <!-- <div *ngIf="isShowDownload">
            <fieldset class="custom-fieldset">
                <p class="pl-2 pt-2">Data has been imported successfully.</p>
            </fieldset>

            <p class="pl-2 pt-2">click <button type="link" class="btn-link button-link"
                    (click)="exportfiles(savedResult.status_file_name)">here</button> to download status.</p>
        </div> -->

        <div *ngIf="isLoading" class="loader-container">
            <div class="loader"></div>
        </div>



    </div>
    <div class="modal-footer">
        <div *ngIf="!isShowDownload">
            <button type="button" class="btn btn-orange-outline-s mr-2"
                (click)="modal.dismiss('Cross click')">Cancel</button>
            <button type="button" class="btn btn-orange-s" (click)="onSave()">Save</button>
        </div>
        <div *ngIf="isShowDownload">
            <button type="button" class="btn btn-orange-s" (click)="onDismiss()">Ok</button>
        </div>
    </div>
</ng-template>








<!-- Export -->
<ng-template #ExportOptiontemModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Export List</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="ExportItemsForm">
            <div class="row">
                <div class="col-12">

                    <div class="form-group">
                        <label class="mr-2">
                            <input type="radio" formControlName="exportoption" (click)="onExportOptionChange($event)"
                                value="0" class="mr-1" [checked]='exportMFG'>1.MFG
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="radio" formControlName="exportoption" (click)="onExportOptionChange($event)"
                                value="1" class="mr-1" [checked]='exportTRD'>2.TRD
                        </label>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-orange-outline-s mr-2"
            (click)="modal.dismiss('Cross click')">Cancel</button>
        <button type="button" class="btn btn-orange-s" (click)="onExportClick()">Export</button>
    </div>
</ng-template>